/*responsive*/
@media(max-width: 1330px) {
/*Responsive del header*/
    header{
        width: 100%;
        margin: 0% -20%;
        margin: 0 auto;
    }
    header nav a, #form a{
        font-size: 15px;
        border: 2px solid black;
    }
    header nav .icons{
        font-size: 20px;
    }
    header #form form select{
        border: 2px solid black;
        font-size: 15px;
        padding: 12px 50px 10px 15px;
    }
    header img{
        width: 200px;
    }
}

@media(max-width: 1140px) {

    /*Estilos de carrusel*/

    #carrusel .img{
        width: 520px;
    }
    #carrusel .im{
        width: 955px;
    }
    #carrusel .ko{
        width: 160px;
        top: 560px;
    }

}
@media(max-width: 1060px) {
    header{
       padding: 24px 20px;
    }
    header nav a, #form a{
        font-size: 15px;
        border: 2px solid black;
        padding: 8px 20px;
    }
    header nav .icons{
        font-size: 20px;
    }
    header #form form select{
        border: 2px solid black;
        font-size: 15px;
        padding: 10px 60px 8px 15px;
    }

    #carrusel{
        margin: 0px 10px;
    }
}
@media(max-width: 1060px){

    #cart{
        display: none;
    }
}
@media(max-width: 767px){

}